[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "1.7.3"
aiosqlite = "0.17.0"

[dev-packages]
autopep8 = "*"
icecream = "*"

[requires]
python_version = "3.9"