[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "0.17.0"
nextcord = "~=2.0.0a2"

[dev-packages]
autopep8 = "*"
icecream = "*"

[requires]
python_version = "3.9"